<mat-toolbar
  color="primary"
  class="p-3 w-100"
  style="height: 70px; z-index: 10;"
>
  <mat-toolbar-row>
    <button class="btn mr-3 p-0"></button>

    <h1 class="text-white">YouTube</h1>
    <span class="example-spacer" style="flex: 1 1 auto;"></span>
    <div class="fav-container">
      <span
        matBadge="{{ favCount }}"
        matBadgeOverlap="false"
        matBadgeColor="warn"
        matBadgePosition="before"
      >
        <i class="fas fa-heart"></i>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
